@tailwind base;
@tailwind components;
@tailwind utilities;


.img{
    width: 8%;
}

.profileImg{
    width: 50%;
    padding: center;
    margin-top: 2rem;
    margin-left: 21rem;
}

.nav-links{
    display: none;
}

.nav{
    height: 2rem;
    padding: 1rem;
    display: grid;
    align-items: center;
    transition: var(--transition);
}

.nav-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
}
.nav-btn{
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    font-size: 2rem;
    justify-self: end;
}